* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #f6f6f6;
}

header {
  background-color: #1e1e1e;
  color: white;
}

header > div {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 0 auto;
}

header img {
  height: 4rem;
}

header h1 {
  font-size: 2rem;
  text-transform: capitalize;
  color: white;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-weight: 800;
}

main {
  padding: 1rem;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

@media (max-width: 500px) {
  code {
    font-size: 0.8em !important;
  }
  header img {
    height: 3rem;
  }
}

@media (max-width: 400px) {
  code {
    font-size: 0.6em !important;
  }
  header h1 {
    font-size: 1.7rem !important;
  }
}

code {
  padding: 4px;
  font-family: "Fira Code", monospace;
  border-radius: 0 0 8px 8px;
}

pre::before {
  display: block;
  content: "hello-world";
  background-color: #673ab7;
  position: absolute;
  box-sizing: content-box;
  height: 1em;
  padding: 4px 0;
  text-align: center;
  width: 100%;
  left: 0;
  top: -1.5em;
  border-radius: 8px 8px 0 0;
  color: #fff;
  font-weight: 600;
}

pre[data-extension]::before {
  content: "hello-world." attr(data-extension);
}

pre::after {
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  background-color: #eb5e56;
  box-shadow: 16.4px 0 0 0 #f7bf33, 32.8px 0 0 0 #69ca42;
  box-sizing: content-box;
  left: 8px;
  top: -1em;
  content: "";
}

pre:nth-child(1) {
  margin-top: 1.5em;
}

pre {
  display: block;
  position: relative;
  border-radius: 0 0 8px 8px;
  font-family: "Fira Code", monospace;
  margin-top: 2.5em;
  tab-size: 1rem;
  flex: 1;
}

pre code {
  background: none;
}

footer {
  font-size: 0.75rem;
  background-color: #eaeaea;
  color: #333;
}

footer p {
  font-weight: 300;
  padding: 1rem;
  margin: 0 auto;
  max-width: 500px;
}

footer p span {
  color: red;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer strong {
  font-weight: 500;
}
