*{
	padding: 0;
	margin: 0;
	outline: none;
	box-sizing: border-box;
}

body{
	font-family: 'Arial', sans-serif;
}

header{
	padding: 10px;
	background-color: rgb(30, 30, 30);
	color: white;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

header img{
	height: 5em;
	margin-right: 1em;
}

header h1{
	font-size: 3em;
	text-transform: capitalize;
	color: white;
	text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.5);
	margin: 10px 0;
}

main{
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 13px
}

@media (min-width: 2000px){
	main{
		grid-template-columns: repeat(4, 1fr) !important;
	}
}

@media (min-width: 1400px){
	main{
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 900px){
	main{
		grid-template-columns: 1fr;
	}
}

@media (max-width: 500px){
	.filename{
		font-size: 1.4em !important;
	}
	.code{
		font-size: 0.8em !important;
	}
}

@media (max-width: 400px){
	.filename{
		font-size: 1.1em !important;
	}
	.code{
		font-size: 0.6em !important;
	}
}

.file{
	display: flex;
	flex-direction: column;
	border-radius: 20px;
}

.filename{
	font-family: 'Consolas', monospace;
	font-size: 1.7em;
	text-align: center;
}

.filename:before{
	content: 'File: ';
}

.code{
	display: block;
	padding: 20px;
	background-color: #363636;
	color: white;
	border-left: 10px solid tomato;
	font-family: 'Consolas', monospace;
	font-size: 1em;
	tab-size: 4;
	flex: 1;
}

.pink{
	color: #f34b7d;
}

.green{
	color: #8bc34a;
}

.blue{
	color: #00bcd4;
}

.yellow{
	color: #f1e05a;
}

.orange{
	color: #ff9800;
}